<a [routerLink]="['ajouter']" routerLinkActive>Ajouter</a>
<router-outlet></router-outlet>

<table border="1">
  <caption>Liste des ninjas</caption>
  <thead>
    <th id="nom">Nom</th>
    <th id="prénom">Prénom</th>
    <th id="rang">Rang</th>
    <th id="affinitées">Affinitees</th>
    <th id="score">Score</th>
    <th id="statut">Statut</th>
    <th id="actions">Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let ninja of ninjas">
      <td>{{ninja.nom}}</td>
      <td>{{ninja.prenom}}</td>
      <td>{{ninja.rang.libelle}}</td>
      <td>{{ninja.affinitees | affinitees}}</td>
      <td class="center">{{ninja.statistiques | statistiqueTotal}}</td>
      <td>{{ninja | statut}}</td>
      <td>
        <button>👁️</button>
        <button>➡️</button>
      </td>
    </tr>
  </tbody>
</table>
